@media only screen and (max-width: 320px) and (min-width: 319px) {
  .space {
    height: 3990px; }
  .slick-list {
    height: 4499px; } }

@media only screen and (max-width: 330px) and (min-width: 321px) {
  .space {
    height: 4090px; }
  .slick-list {
    height: 4999px; } }

@media only screen and (max-width: 342px) and (min-width: 331px) {
  .space {
    height: 4190px; }
  .slick-list {
    height: 5000px; } }

@media only screen and (max-width: 360px) and (min-width: 343px) {
  .space {
    height: 4390px; }
  .slick-list {
    height: 5000px; } }

@media only screen and (max-width: 370px) and (min-width: 361px) {
  .space {
    height: 4590px; }
  .slick-list {
    height: 5020px; } }

@media only screen and (max-width: 380px) and (min-width: 371px) {
  .space {
    height: 4590px; }
  .slick-list {
    height: 5100px; } }

@media only screen and (max-width: 390px) and (min-width: 381px) {
  .space {
    height: 4690px; }
  .slick-list {
    height: 5200px; } }

@media only screen and (max-width: 400px) and (min-width: 391px) {
  .space {
    height: 4890px; }
  .slick-list {
    height: 5300px; } }

@media only screen and (max-width: 415px) and (min-width: 401px) {
  .space {
    height: 4990px; }
  .slick-list {
    height: 5500px; } }

@media only screen and (max-width: 420px) and (min-width: 416px) {
  .space {
    height: 5100px; }
  .slick-list {
    height: 5600px; } }

@media only screen and (max-width: 435px) and (min-width: 421px) {
  .space {
    height: 5200px; }
  .slick-list {
    height: 5700px; } }

@media only screen and (max-width: 435px) and (min-width: 421px) {
  .space {
    height: 5200px; }
  .slick-list {
    height: 5700px; } }

@media only screen and (max-width: 455px) and (min-width: 436px) {
  .space {
    height: 5300px; }
  .slick-list {
    height: 5900px; } }

@media only screen and (max-width: 465px) and (min-width: 456px) {
  .space {
    height: 5400px; }
  .slick-list {
    height: 5900px; } }

@media only screen and (max-width: 475px) and (min-width: 466px) {
  .space {
    height: 5450px; }
  .slick-list {
    height: 5990px; } }

@media only screen and (max-width: 479px) and (min-width: 476px) {
  .space {
    height: 5500px; }
  .slick-list {
    height: 6000px; } }

@media only screen and (max-width: 485px) and (min-width: 480px) {
  .space {
    height: 5600px; }
  .slick-list {
    height: 6100px; } }

@media only screen and (max-width: 498px) and (min-width: 486px) {
  .space {
    height: 5800px; }
  .slick-list {
    height: 6200px; } }

@media only screen and (max-width: 519px) and (min-width: 499px) {
  .space {
    height: 5700px; }
  .slick-list {
    height: 6709px; } }

@media only screen and (max-width: 539px) and (min-width: 520px) {
  .space {
    height: 5900px; }
  .slick-list {
    height: 6709px; } }

@media only screen and (max-width: 559px) and (min-width: 540px) {
  .space {
    height: 6100px; }
  .slick-list {
    height: 6709px; } }

@media only screen and (max-width: 569px) and (min-width: 550px) {
  .space {
    height: 6300px; }
  .slick-list {
    height: 6709px; } }

@media only screen and (max-width: 574px) and (min-width: 570px) {
  .space {
    height: 6300px; }
  .slick-list {
    height: 6809px; } }

@media only screen and (max-width: 584px) and (min-width: 575px) {
  .space {
    height: 6400px; }
  .slick-list {
    height: 7009px; } }

@media only screen and (max-width: 600px) and (min-width: 585px) {
  .space {
    height: 6601px; }
  .slick-list {
    height: 7109px; } }

@media only screen and (max-width: 800px) and (min-width: 601px) {
  .space {
    height: 1750px; }
  .slick-list {
    height: 2209px; } }

@media only screen and (max-width: 865px) and (min-width: 801px) {
  .space {
    height: 1890px; }
  .slick-list {
    height: 2390px; } }

@media only screen and (max-width: 1099px) and (min-width: 866px) {
  .space {
    height: 1000px; } }

@media only screen and (max-width: 1200px) and (min-width: 1100px) {
  .space {
    height: 1070px; } }
