/*--------------- Modal ---------------------*/
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 12;
  /* Sit on top */
  padding-top: 20%;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
  font-size: 20px; }

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 100px;
  max-width: 700px;
  filter: drop-shadow(1px 1px 0.8px red) invert(75%); }

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 90%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px; }

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s; }

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0); }
  to {
    -webkit-transform: scale(1); } }

@keyframes zoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    padding-top: 20%;
    /* Location of the box */ } }

@media only screen and (max-width: 800px) {
  .modal {
    padding-top: 50%;
    /* Location of the box */ } }
