.w2-photo {
  text-align: right;
  padding-right: 20%; }

.w2-text {
  padding-bottom: 20px; }
  .w2-text h1, .w2-text h2 {
    color: #ff523b; }
  .w2-text p {
    color: #fff; }

.w-prictures h1, .w-prictures h3 {
  color: #ff523b; }

.rel h4 {
  color: #ff523b; }

.rel:hover {
  cursor: pointer; }
