.article-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 12; /* Sit on top */
    padding-top: 70px; /* Location of the box */
    padding-bottom: 70px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.article-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 20px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.article-close {
    color: white;
    font-weight: bold;
    display: inline-block;
}

.article-close:hover,
.article-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.article-modal-header, .global-modal-header {
    padding: 16px 16px;
    color: white;
    text-align: center;
    border-radius: 15px 15px 0 0;
}

.article-modal-body {
    text-align: center;
}

.article-modal-footer, .global-modal-footer {
    padding: 16px 16px;
    color: white;
    text-align: center;
    border-radius: 0 0 15px 15px;
}

.article-modal-btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 6px 20px;
    margin: 20px 0;
    border-radius: 30px;
    transition: background 0.5;
    font-size: 16px!important;
}

.article-modal-btn:hover {
    background: #333;
    cursor: pointer;
}

/*COLORS*/

.article-modal-header, .article-modal-footer {
    background-color: #203f51;
}

.global-modal-header, .global-modal-footer {
    background-color: #ff523b;
}
  

  