$color1: #ff523b;
$color2: #203f51;
$color3: #333;
$color4: #fff;

.writer {
    position: relative;
    max-height: 484px;
    background-color: transparent;
    .w1, .w2, .w3 {
        margin: 0;
        height: 454px;
    }
    .w1 {
        background-color: $color3;
    }
    .w2 {
        background-color: #B32917;
    }
    .w3 {
        background-color: $color2;
    }
    .w-text {
        padding-right: 25%;
        padding-left: 25%;
        color: $color4;
        text-align: center;
        p {
            color: $color4;
        }
        h1 {
            color: $color1;
        }
        img{
            padding-top: 7px;
            cursor: pointer;
            -webkit-filter: invert(100%); /* Safari/Chrome */
            filter: invert(100%);
            transition: 0.3s;
            width: 43px;
        }
        nav {
            margin-top: 10px;
            .row {
                padding-left: 150px;
                padding-right: 150px;
                img:hover {
                   opacity: 0.7;
                }
            }
        }
    }
}

.user {
    text-align: center;
}

.writerPhoto {
    border-radius: 50%;
    width: 190px!important;
    margin-top: 34px;
    margin-bottom: 20px;
}

/* The Close Button */
.close {
    position: absolute;
    top: 66px;
    right: 74px;
    color: #f1f1f1;
    font-size: 69px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*    --      MEDIA QUERY  --    */

@media only screen and (max-width: 800px) {
    .writerPhoto {
        width: 140px!important;
    }
    .writer {
        .w-text {
            padding-right: 9%;
            padding-left: 9%;
            p {
                font-size: 12px;
            }
            nav {
                .row {
                    padding-left: 70px;
                    padding-right: 70px;
                }
            }
        }
        .w1, .w2, .w3 {
            height: 370px;
        }
    }
}

@media only screen and (max-width: 500px) {
    .writer {
        .w1, .w2, .w3 {
            height: 400px;
        }
    }
}

@media only screen and (max-width: 400px) {
    .writer {
        .w-text {
            nav {
                .row {
                    padding-left: 0px;
                    padding-right: 0px;
                }
            }
        }
        .w1, .w2, .w3 {
            height: 430px;
        }
    }
}