$color1: #ff523b;
$color2: #203f51;
$color3: #333;
$color4: #fff;

.w2-photo {
    text-align: right;
    padding-right: 20%;
}

.w2-text {
    h1, h2 {
        color: $color1
    }
    p {
        color: $color4;
    }
    padding-bottom: 20px;
}

.w-prictures {
    h1, h3 {
        color: $color1;
    }
}

.rel {
    h4 {
        color: $color1;
    }
}

.rel:hover {
    cursor: pointer;
}